<<<<<<< HEAD
body{
  background: gray
}
head{
  color: blue
}
p{
  color: blue
}
html{
    background-color:dimgray;
    border-top: 100px solid #BABSAS
=======
body{
  background: gray
}
head{
  color: blue
}
p{
  color: blue
>>>>>>> origin/master
}